<!DOCTYPE html>
<html>
<body>

<title>Reseptiholvi</title>

<h1>Tervetuloa Reseptiholviin!</h1>
<hr>                 

{% if session.user_id %}
Olet kirjautunut sisään nimellä <b>{{ session.user_name }}</b>. <a href="/logout">Kirjaudu ulos</a>
<a href="/profile">Profiili</a>
{% else %}
<a href="/login">Kirjaudu sisään</a> tai <a href="/register">luo uusi tunnus</a>
{% endif %}


<form action="/results" method="post">
<p>Hae reseptejä:</p>
<input type="text" name="search"> 
<br>
<input type="checkbox" name="category" value="A"> helppo
<input type="checkbox" name="category" value="B"> keskitaso
<input type="checkbox" name="category" value="C"> haastava <br>
<input type="checkbox" name="category" value="D"> suolaiset
<input type="checkbox" name="category" value="E"> makeat <br>
<input type="checkbox" name="category" value="F"> gluteeniton
<input type="checkbox" name="category" value="G"> vegaaninen
<br>
<input type="submit" value="Hae">
</form>

</body>
</html>
