<!DOCTYPE html>
<html>
<body>

<title>Profiili</title>
<h1>Reseptiholvi</h1>
<hr>
<a href="/">Etusivu</a> 
<a href="/profile">Profiili</a>
<a href="/logout">Kirjaudu ulos</a>
<hr>

<h1>Profiili</h1>

<a href="/create_recipe">Lisää uusi resepti</a>

<p>Reseptisi</p>

{% if not recipes %}
Ei reseptejä
{% else %}
{% for recipe in recipes %}
<hr>
<a href="/recipe/{{ recipe.id }}">{{ recipe.name }}</a>
<form action="/profile" method="post">
<input type="hidden" value="{{ recipe.id }}" name="recipe_id">
<input type="submit" value="Poista resepti" name="remove_recipe">
</form> 
{% endfor %}
<hr>
{% endif %}

<p>Suosikit</p>

{% if not favourites %}
Ei suosikkeja
{% else %}
{% for favourite in favourites %}
<hr>
<a href="/recipe/{{ favourite.id }}">{{ favourite.name }}</a>
{% endfor %}
<hr>
{% endif %}

<p>Kommentit</p>

{% if not comments %}
Ei kommentteja
{% else %}
{% for comment in comments %}
<hr>
<a href="/recipe/{{ comment.id }}">{{ comment.name }}</a> <br>
"{{ comment.comment }}"
{% endfor %}
<hr>
{% endif %}
</body>
</html>