<!DOCTYPE html>
<html>
<body>
{% extends "layout.html" %}
{% block title %}Profiili{% endblock %}
{% block content %}

<h1>Profiili</h1>

<a class="button" href="/create_recipe">Lisää uusi resepti</a>

<h3>Reseptisi</h3>

{% if not recipes %}
Ei reseptejä
{% else %}
{% for recipe in recipes %}
<hr>
<a class="recipe" href="/recipe/{{ recipe.id }}">{{ recipe.name }}</a>
<form action="/profile" method="post">
<input type="hidden" value="{{ recipe.id }}" name="recipe_id"> 
<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
<input type="submit" value="Poista resepti" name="remove_recipe" class="button">
</form> 
{% endfor %}
<hr>
{% endif %}

<h3>Suosikit</h3>

{% if not favourites %}
Ei suosikkeja
{% else %}
{% for favourite in favourites %}
<hr>
<a class="recipe" href="/recipe/{{ favourite.id }}">{{ favourite.name }}</a>
{% endfor %}
<hr>
{% endif %}

<h3>Kommentit</h3>

{% if not comments %}
Ei kommentteja
{% else %}
{% for comment in comments %}
<hr>
<a class="recipe" href="/recipe/{{ comment.id }}">{{ comment.name }}</a> <br>
"{{ comment.comment }}"
{% endfor %}
<hr>
{% endif %}
{% endblock %}
</body>
</html>