<!DOCTYPE html>
<html>
<body>
{% extends "layout.html" %}
{% block title %}{{ recipe.name }}{% endblock %}
{% block content %}

{% if recipe.visible == False %}
Resepti on poistettu
{% else %}
<h2>{{ recipe.name }}</h2>
{% if user_id %}
{% if in_favourites %}
<form action="/recipe/{{ recipe.id }}" method="post">
<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
<input type="submit" name="remove" value="Poista suosikeista" class="button">
</form>
{% else %}
<form action="/recipe/{{ recipe.id }}" method="post">
<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
<input type="submit" name="add" value="Lisää suosikkeihin" class="button">
</form>

{% endif %}
{% endif %}
{% for category in categories %}
{% if category == categories[-1] %}
{{ category[0] }}
{% else %}
{{ category[0] }},
{% endif %}
{% endfor %}

{% if user_id %}
{% if not rating %}
<h3>Arvioi resepti:</h3>
<form action="/recipe/{{ recipe.id }}" method="post">
<input type="radio" name="score" value="1"> 1
<input type="radio" name="score" value="2"> 2
<input type="radio" name="score" value="3"> 3
<input type="radio" name="score" value="4"> 4
<input type="radio" name="score" value="5"> 5
<input type="submit" name="rating" value="Arvioi" class="button">
<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>
{% else %}
<h3>Annoit reseptille arvosanan:</h3>
{{ rating[0] }}
{% endif %}
{% endif %}
<h3>Käyttäjien arvio reseptistä:</h3>
{{ ratings[0] }}/5 ({{ ratings[1] }} arviota)

<h3>Annoksia</h3>
<pre>
{{ recipe.servings }}
</pre>
<h3>Ainesosat</h3>
<pre>
{{ recipe.ingredients }}
</pre>
<h3>Työvaiheet</h3>
<pre>
{{ recipe.instructions }}
</pre>

<h3>Kommentit</h3>
<hr>
{% if not comments %}
Ei kommentteja <br>
<hr>
{% else %}
{% for comment in comments %}
<strong>{{ comment.username }}</strong> <br>
{{ comment.comment }}<br>
{% if comment.user_id == user_id %}
<form action="/recipe/{{ comment.recipe_id }}" method="post">
<input type="hidden" value="{{ comment.id }}" name="comment_id">
<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
<input type="submit" value="Poista" name="remove_comment" class="button">
</form>
{% endif %}
<hr>
{% endfor %}
{% endif %}
<br>
{% if user_id %}
Kommentoi:<br>
<form action="/recipe/{{ recipe.id }}" method="post">
<textarea name="comment" rows="5" cols="40"></textarea> <br>
<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
<input type="submit" name="comment" value="Lähetä" class="button">
</form>
{% else %}
<a href="/login">Kirjaudu sisään</a> kommentoidaksesi
{% endif %}
{% endif %}

{% endblock %}
</body>
</html>